
    .container{
    border:solid 1px rgb(74, 162, 162);
    background-color: rgb(223, 223, 180);
    border-radius: 5%;
    width:20%;
    float:right;
    margin-top:-100px;
    color:rgb(0, 0, 0);
  }
  .logo{
    background-color: rgb(223, 223, 180);
  }
  body  {
    background-image: url("https://images.pexels.com/photos/2382325/pexels-photo-2382325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size:auto;
  }

