<body>
  <header>
  <img style="width:100%;height:20%;margin:0%" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/311258968_5552276991537140_8925365804803711666_n.jpg?stp=dst-jpg_p403x403&amp;_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=aee45a&amp;_nc_ohc=1rK32ovY5qgAX_iiDUM&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_ht=scontent.xx&amp;oh=03_AVKNxAIBZnWmxGLGtvvBy8zO-lXeN0tULerqRQYlYyh7Sg&amp;oe=6369F3C7" alt="canot load image">
</header>
<nav id="lam" class="navbar navbar-expand-lg navbar-dark bg-dark-light">
  <a class="nav-link" href="#">Trang chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Sản phẩm bán chạy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/haircarenature/photos/?ref=page_internal">Linkface <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Loại sản phẩm
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Làm Đẹp</a>
          <a class="dropdown-item" href="#">Mỹ Phẩm</a>
          <a class="dropdown-item" href="#">Chăm sóc cá nhân</a>
        </div>
      </li>
      <li>
        <img class="imgg" style="width:28%;float:right;margin-right:-100%;" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/310008195_3300519886943086_5296955581682160537_n.jpg?stp=dst-jpg_s206x206&amp;_nc_cat=111&amp;ccb=1-7&amp;_nc_sid=aee45a&amp;_nc_ohc=nlL8MscwoocAX9MJiW4&amp;_nc_ad=z-m&amp;_nc_cid=0&amp;_nc_ht=scontent.xx&amp;oh=03_AVLhzQtZTwwtRxO9MnZ0B5BPPOOCdGZs4sn2vL9R-Gphag&amp;oe=636AD30D">
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button style="color:antiquewhite" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<p style="text-align:center">1186
  @haircarenature  · Làm đẹp, mỹ phẩm &amp; chăm sóc cá nhân</p>
  <div id="slideshow">
    <div class="slide-wrapper">
      <div class="slide"><img (click)="changeImg()" style="width:1000px;height:400px;margin-left:0px;" id="img" src="{{value}}"></div>
    </div>
  </div>
  <app-sanpham></app-sanpham>
<br>
<br>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>
<footer style="background-color:rgb(83, 83, 2);">
  <br><br><br><br>
  <div style="text-align:center ;color:white">
    <p>1186 @haircarenature · Làm đẹp, mỹ phẩm &amp; chăm sóc cá nhân</p>
    <p>
      <span class="x193iq5w xeuugli x13faqbe x1vvkbs x1xmvt09 x1lliihq x1s928wv xhkezso x1gmr53x x1cpjm7i x1fgarty x1943h6x xudqn12 x3x7a5m x6prxxf xvq8zen xo1l8bm xzsf02u" dir="auto"> Chăm sóc khách hàng 0845396046☎️</span>    </p>
    <p>
    <img class="x1b0d499 xuo83w3" src="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/V632KGZoHho.png" alt="" height="20" width="20">
    Đường Đi Quốc Oai, Hà Nội, Việt Nam
  </p>
  <p>
    <img class="x1b0d499 xuo83w3" src="https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/W4m-1QXtJyK.png" alt="" height="20" width="20">
    Pngoclam86@gmail.com
  </p>

  </div>
  <br><br><br><br>
</footer>
</body>
